.mainDiv {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 50%;
  display: grid;
  height: 400px;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.cell {
  border: 2px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.X {
  background-image: url("https://e1.pngegg.com/pngimages/314/988/png-clipart-symbolize-x.png");
}
.O {
  background-image: url("https://w7.pngwing.com/pngs/219/364/png-transparent-letter-case-o-alphabet-o-miscellaneous-monochrome-black.png");
}
