.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divArea {
  height: 100vh;
}

.point {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background-color: red;
}

.main {
  display: flex;
  justify-content: center;
}
.states {
  display: block;
  margin: 10px;
}
.capitals {
  display: block;
  margin: 10px;
}

.block {
  height: 400px;
  width: 700px;
}

.btn {
  display: grid;
  width: 50px;
  height: 20px;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}

.circle:not(.on) {
  background-color: gray;
}
